Read the raw driver data from `/mnt/cis442f-data/duocar/raw/drivers` into a Spark DataFrame.

In [0]:
drivers = spark.read.csv("/mnt/cis442f-data/duocar/raw/drivers", header=True, inferSchema=True)

How young is the youngest driver?  How old is the oldest driver?

In [0]:
from pyspark.sql.functions import to_date, current_date, months_between, floor
drivers \
  .select(to_date("birth_date", "yyyy-MM-dd").alias("birth_date_fixed"), current_date().alias("today")) \
  .withColumn("age", floor(months_between("today", "birth_date_fixed") / 12)) \
  .sort("birth_date_fixed")\
  .show(1)
drivers \
  .select(to_date("birth_date", "yyyy-MM-dd").alias("birth_date_fixed"), current_date().alias("today")) \
  .withColumn("age", floor(months_between("today", "birth_date_fixed") / 12)) \
  .sort("birth_date_fixed", ascending=False)\
  .show(1)

+----------------+----------+---+
|birth_date_fixed|     today|age|
+----------------+----------+---+
|      1947-09-26|2022-04-14| 74|
+----------------+----------+---+
only showing top 1 row

+----------------+----------+---+
|birth_date_fixed|     today|age|
+----------------+----------+---+
|      1999-03-22|2022-04-14| 23|
+----------------+----------+---+
only showing top 1 row

How many female drivers does DuoCar have?  How many non-white, female drivers?

In [0]:
print("Female drivers")
print(drivers.where(drivers.sex == "female").count())
print("non-white, female drivers")
print(drivers.filter(drivers.sex == "female").where(drivers. ethnicity != "White").count())

Female drivers
108
non-white, female drivers
9

Create a new DataFrame without any personally identifiable information (PII) 
- Create a new column "birth_year"
- PII fields to remove: "first_name", "last_name", "home_block" , "home_lat", "home_lon", "birth_date"

In [0]:
from pyspark.sql.functions import year
from pyspark.sql.functions import to_date
drivers2 = spark.read.csv("/mnt/cis442f-data/duocar/raw/drivers", header=True, inferSchema=True)
drivers2 \
  .withColumn("birth_year", year(drivers2.birth_date)) \
  .drop("first_name", "last_name", "home_block" , "home_lat", "home_lon", "birth_date") \
  .show(15)

+------------+-------------------+------+---------+-------+------------+-------------+------------+-------------+-------------+------------+-------------+-----+-----+----------+
|          id|         start_date|   sex|ethnicity|student|vehicle_make|vehicle_model|vehicle_year|vehicle_color|vehicle_grand|vehicle_noir|vehicle_elite|rides|stars|birth_year|
+------------+-------------------+------+---------+-------+------------+-------------+------------+-------------+-------------+------------+-------------+-----+-----+----------+
|220200000007|2017-01-01 00:00:00|  male|    White|      1|   Chevrolet|        Cruze|        2013|         gray|            0|           0|            0|   89|  398|      1996|
|220200000043|2017-01-02 00:00:00|  male|    White|      0|         GMC|     Yukon XL|        2016|        black|            1|           1|            1|  239| 1108|      1993|
|220200000053|2017-01-02 00:00:00|  male|    White|      0|    INFINITI|         EX35|        2008|          red|            0|           0|            0|  166|  678|      1985|
|220200000056|2017-01-03 00:00:00|  male|    White|      0|      Subaru|      Tribeca|        2008|        black|            1|           0|            0|   74|  301|      1964|
|220200000059|2017-01-03 00:00:00|female|    White|      0|         Kia|      Sorento|        2011|        white|            0|           0|            0|    0|    0|      1995|
|220200000060|2017-01-03 00:00:00|  male|    White|      0|   Chevrolet|     Suburban|        2017|         gray|            1|           0|            0|  216|  955|      1961|
|220200000061|2017-01-03 00:00:00|  male|    White|      0|      Toyota|   Highlander|        2008|         gray|            1|           0|            0|  106|  454|      1967|
|220200000065|2017-01-03 00:00:00|  male|    White|      0|        Jeep|    Commander|        2008|         blue|            1|           0|            0|  237|  968|      1981|
|220200000067|2017-01-03 00:00:00|  male|    White|      1|       Buick|        Regal|        2016|       yellow|            0|           0|            0|  164|  642|      1993|
|220200000068|2017-01-04 00:00:00|  male|    White|      0|      Toyota|        Camry|        2011|        green|            0|           0|            0|  208|  882|      1993|
|220200000070|2017-01-04 00:00:00|  null|    White|      0|   Chevrolet|      Equinox|        2013|        black|            0|           0|            0|  130|  575|      1973|
|220200000077|2017-01-04 00:00:00|  male|    White|      0|        Ford|        Focus|        2014|         gray|            0|           0|            0|  150|  661|      1990|
|220200000082|2017-01-04 00:00:00|  male|     null|      0|         GMC|        Yukon|        2016|        other|            1|           0|            0|  280| 1209|      1963|
|220200000085|2017-01-05 00:00:00|  male|    White|      0|   Chevrolet| Tahoe Hybrid|        2011|         blue|            1|           0|            0|  193|  827|      1977|
|220200000097|2017-01-05 00:00:00|  male|    White|      0|        Ford|   Expedition|        2013|        black|            1|           1|            1|   48|  212|      1983|
+------------+-------------------+------+---------+-------+------------+-------------+------------+-------------+-------------+------------+-------------+-----+-----+----------+
only showing top 15 rows

Read the raw ride data from `/mnt/cis442f-data/duocar/raw/rides` into a Spark DataFrame.  Inspect the  `service` column.  Replace the missing values with "Car" for standard DuoCar service.

In [0]:
ride = spark.read.csv("/mnt/cis442f-data/duocar/raw/rides", header=True, inferSchema=True)
ride.fillna("Car", ["service"]).show(25)

+---+------------+------------+-------------------+----------+-------+----------+----------+---------+----------+--------+--------+---------+-----------+
| id|   driver_id|    rider_id|          date_time|utc_offset|service|origin_lat|origin_lon| dest_lat|  dest_lon|distance|duration|cancelled|star_rating|
+---+------------+------------+-------------------+----------+-------+----------+----------+---------+----------+--------+--------+---------+-----------+
|  1|220200000214|220200000084|2017-02-01 00:14:00|        -6|    Car| 46.850956|-96.902849| 46.86005|-96.825442|   10123|     729|        0|          5|
|  2|220200000107|220200000462|2017-02-01 00:36:00|        -6|    Car| 46.900432|-96.765807|46.840588|-96.868087|   16043|    1299|        0|          5|
|  3|220200000214|220200000489|2017-02-01 02:26:00|        -6|   Noir| 46.868382|-96.902718|46.815272|-96.862056|    9362|     736|        0|          5|
|  4|220200000067|220200000057|2017-02-01 03:00:00|        -6|    Car| 46.908567|-96.905391| 46.90438|-96.793999|    9060|     773|        0|          5|
|  5|220200000067|220200000012|2017-02-01 03:49:00|        -6|    Car| 46.895864|-96.805807| 46.86903|-96.785232|    5076|     721|        0|          5|
|  6|220200000214|220200000157|2017-02-01 03:53:00|        -6|    Car| 46.840562| -96.91674|46.850929|-96.883703|    4683|     427|        0|          5|
|  7|220200000067|220200000499|2017-02-01 04:13:00|        -6|    Car| 46.920253|-96.780229| 46.87419|-96.788312|    6230|     699|        0|          3|
|  8|220200000214|220200000256|2017-02-01 04:28:00|        -6|    Car| 46.846283|-96.801273|46.874445|-96.793427|    3824|     501|        0|          2|
|  9|220200000067|220200000259|2017-02-01 04:43:00|        -6|    Car| 46.862615|-96.788374|46.858239|-96.799548|    1366|     257|        0|          5|
| 10|220200000214|220200000584|2017-02-01 05:01:00|        -6|    Car| 46.882033|-96.703536|46.839506|-96.766937|   10510|     883|        0|          5|
| 11|220200000067|220200000388|2017-02-01 05:04:00|        -6|    Car| 46.855897|-96.913525|46.892483|-96.802186|   15018|     921|        0|          5|
| 12|220200000082|220200000553|2017-02-01 06:05:00|        -6|    Car| 46.867736|-96.777589| 46.87095|-96.768203|    1142|     162|        0|          5|
| 13|220200000196|220200000080|2017-02-01 06:15:00|        -6|    Car| 46.820384|-96.802926|46.884913| -96.78597|    8318|     906|        0|          4|
| 14|220200000082|220200000159|2017-02-01 06:33:00|        -6|    Car| 46.962068|-96.800312|46.882834|-96.771741|   12149|    1088|        0|          4|
| 15|220200000457|220200000394|2017-02-01 06:54:00|        -6|   Noir| 46.868475|-96.856933|46.804677|-96.848378|    8800|     573|        0|          5|
| 16|220200000333|220200000553|2017-02-01 07:07:00|        -6|    Car| 46.867736|-96.777589|46.875068|-96.794809|    2838|     385|        0|          5|
| 17|220200000446|220200000421|2017-02-01 07:10:00|        -6|    Car| 46.860603|-96.789701|46.935469|-96.831332|   16142|     888|        0|          5|
| 18|220200000202|220200000462|2017-02-01 07:14:00|        -6|   Noir| 46.900432|-96.765807|46.910972|-96.789108|    6840|     707|        0|          1|
| 19|220200000345|220200000358|2017-02-01 07:21:00|        -6|    Car| 46.838265|-96.768914| 46.86903|-96.785232|    5998|     743|        0|          4|
| 20|220200000343|220200000086|2017-02-01 07:25:00|        -6|    Car| 46.851271|-96.801213|46.907317|-96.799586|    7197|     812|        0|          3|
| 21|220200000333|220200000165|2017-02-01 07:30:00|        -6|    Car| 46.853118|-96.789865|46.884544|-96.787065|    4323|     527|        0|          2|
| 22|220200000446|220200000170|2017-02-01 07:30:00|        -6|   Noir| 46.889475|-96.801551|46.862253|-96.838577|    6059|     636|        0|          5|
| 23|220200000498|220200000565|2017-02-01 07:39:00|        -6|    Car| 46.854349|-96.844913|46.857084|-96.855108|    1191|     189|        0|          5|
| 24|220200000437|220200000287|2017-02-01 07:42:00|        -6|   Noir| 46.883156|-96.312188|46.831437|-96.827593|    null|    null|        1|       null|
| 25|220200000498|220200000280|2017-02-01 07:48:00|        -6|    Car|  46.85726|-96.833414|46.858448|-96.848077|    1694|     256|        0|          3|
+---+------------+------------+-------------------+----------+-------+----------+----------+---------+----------+--------+--------+---------+-----------+
only showing top 25 rows

Create a Dataframe that:

- Convert the rides.driver_id column to a string column.
- Extract the year from the rides.date_time column (hint: you can use the year function)
- Convert rides.duration from seconds to minutes.
- Convert the rides.cancelled column to a boolean column.
- Convert the rides.star_rating column to a double column.

In [0]:
rides = spark.read.csv("/mnt/cis442f-data/duocar/raw/rides/", header=True, inferSchema=True)
from pyspark.sql.functions import format_string, year, col, round
rides = rides\
  .withColumn("driver_id", rides.driver_id.cast("string"))\
  .withColumn("date_time", year(rides.date_time))\
  .withColumn("duration", round(rides.duration/60))\
  .withColumn("cancelled", rides.cancelled.cast("boolean"))\
  .withColumn("star_rating", rides.star_rating.cast("double"))

rides.show(5)
rides.printSchema()

+---+------------+------------+---------+----------+-------+----------+----------+---------+----------+--------+--------+---------+-----------+
| id|   driver_id|    rider_id|date_time|utc_offset|service|origin_lat|origin_lon| dest_lat|  dest_lon|distance|duration|cancelled|star_rating|
+---+------------+------------+---------+----------+-------+----------+----------+---------+----------+--------+--------+---------+-----------+
|  1|220200000214|220200000084|     2017|        -6|   null| 46.850956|-96.902849| 46.86005|-96.825442|   10123|    12.0|    false|        5.0|
|  2|220200000107|220200000462|     2017|        -6|   null| 46.900432|-96.765807|46.840588|-96.868087|   16043|    22.0|    false|        5.0|
|  3|220200000214|220200000489|     2017|        -6|   Noir| 46.868382|-96.902718|46.815272|-96.862056|    9362|    12.0|    false|        5.0|
|  4|220200000067|220200000057|     2017|        -6|   null| 46.908567|-96.905391| 46.90438|-96.793999|    9060|    13.0|    false|        5.0|
|  5|220200000067|220200000012|     2017|        -6|   null| 46.895864|-96.805807| 46.86903|-96.785232|    5076|    12.0|    false|        5.0|
+---+------------+------------+---------+----------+-------+----------+----------+---------+----------+--------+--------+---------+-----------+
only showing top 5 rows

root
 |-- id: integer (nullable = true)
 |-- driver_id: string (nullable = true)
 |-- rider_id: long (nullable = true)
 |-- date_time: integer (nullable = true)
 |-- utc_offset: integer (nullable = true)
 |-- service: string (nullable = true)
 |-- origin_lat: double (nullable = true)
 |-- origin_lon: double (nullable = true)
 |-- dest_lat: double (nullable = true)
 |-- dest_lon: double (nullable = true)
 |-- distance: integer (nullable = true)
 |-- duration: double (nullable = true)
 |-- cancelled: boolean (nullable = true)
 |-- star_rating: double (nullable = true)